.circle{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #a1a0a0;
  margin: 5px;
}

.container{
  margin: 40px;
}

.outter-box{
  background-color: black;
  width: 180px;
  margin: 4%;
  padding: 3px;
  border-radius: 10px;
}